

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 72px;
  color: #00FA9A ;
  text-align: center;
  margin-top: -61px;
}

p {
  background-image: linear-gradient( 110.7deg,  rgba(9,154,151,1) 6.3%, rgba(21,205,168,1) 90.6% );
  top: 30%;
  left: 50%;
  margin-top: 5%;
  margin-left: 35%;
  width: 500px;
  height: 170px;
  border: 4px dashed rgb(7, 7, 7);
  cursor: pointer;
  padding: 25px;
  text-align: center;
  line-height: 170px;
  color: #080808;
  font-family: 'Times New Roman', Times, serif;
}
